{% extends 'MemeoirsUsersBundle::layout.html.twig' %}

{% block body %}
  <h1>Home - in: src/Memeoirs/UsersBundle/Resources/views/Users</h1>
  <a href="{{ path('memeoirs_users_dashboard') }}">Access dashboard</a>
{% endblock %}